<button onclick="window.location = '/';" class="btn btn-dark">Go Home</button>
{{#events}}
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>Location: {{ location }}</p>
        <div id="like_unlike" class="my-3">
            <form class="me-4" method="POST" action="/event/like2">
                <input type="hidden" value="{{id}}" name="id">
                <button type="submit" class="btn btn-primary position-relative" style="font-size:25px">
                    &#128077
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ likes }}
                    </span>
                </button>
            </form>
            <form method="POST" action="/event/unlike2">
                <input type="hidden" value="{{id}}" name="id">
                <button type="submit" class="btn btn-primary position-relative"  style="font-size:25px">
                    &#128078
                </button>
            </form>
        </div>
        <img src="https://tse3.mm.bing.net/th/id/OIP.HAu8l9ToJmaNvUVYqmDe2AHaE8?pid=ImgDet&rs=1" alt="image can't be found" width="300" onerror="this.onerror=null; this.src='https://tse1.mm.bing.net/th/id/OIP.GhK0xqhcPT0DVriwmC4wOAHaHa?pid=ImgDet&rs=1'" class="rounded">
        </p>
{{/events}}
<hr class="my-5"/>
<div class="comments_section">
    <div class="left">
        <h3>Post Comment</h3>
        <form method="POST" action="/comment">
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Author</span>
                    <input id="#author_input" type="text" name="author" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Comment</span>
                    <input id="#desc_input" type="text" name="desc" class="form-control">
                </div>
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="Add Comment" />
        {{!--         
            Author: <input type="text"  name="author"><br>
            Comment: <input type="text" name="desc"><br> --}}
            {{!-- <input type="submit" value="Add Comment"> --}}
        </form>
        <style>
            .column {
            display: inline-block;
            width: 50%; /* Each column takes up 50% of the container's width */
            box-sizing: border-box; /* Include padding and border in the width */
            }
        </style>
    </div>
    <div class="right">
        <h3>Comments</h3>
        {{!-- <table class="table-bordered">
            <tr><td>Author</td><td>Comment</td></tr>
        <tr>
            <td>{{author}}</td>
            <td>{{desc}}</td>
        </tr> --}}
        {{!-- </table> --}}

        {{#comments}}
        <div class="card mb-4">
          <div class="card-body">
            <p>{{desc}}</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img class="rounded" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="300"
                  height="50" />
                <p class="small mb-0 ms-2">{{author}}</p>
              </div>
            </div>
          </div>
        </div>


        {{/comments}}
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113565.67385638064!2d-78.89391846946619!3d33.76042550826318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89006fb8dd6bf227%3A0x959010883fdb1bbe!2sAlpha%20Male%20Clinic!5e0!3m2!1sen!2sus!4v1697142679725!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d164074.63851009874!2d85.86960807480564!3d20.49796854761604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssigma%20male!5e0!3m2!1sen!2sus!4v1697142035507!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<style>
    #like_unlike {
        display: flex;
        flex-direction: row;
    }
    .comments_section {
        display: flex;
        flex-direction: row;
    }
    .left {
        margin-right: 5rem
    }
</style>