<div>
    <form action="/logout" method="get">
    <input class="btn btn-danger" type="submit" name="submit" value="Log out" />
    </form>
</div>

{{#events}}
  <div class='col-4 m-3 p-2 rounded' id='event-entry'>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>Location: {{ location }}</p>
        <p>Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Like">
        </form>
        <form method="POST" action="/event/unlike">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="UN-Like">
        </form>
        <img src="https://tse3.mm.bing.net/th/id/OIP.HAu8l9ToJmaNvUVYqmDe2AHaE8?pid=ImgDet&rs=1" alt="image can't be found" width="100" onerror="this.onerror=null; this.src='https://tse1.mm.bing.net/th/id/OIP.GhK0xqhcPT0DVriwmC4wOAHaHa?pid=ImgDet&rs=1'">
        <p></p>
        <button onclick="window.location = '/event/' + {{id}}">Go to event</button>
        </p>
    </div>
  {{/events}}

  <div class="container">
        <h2>Add an event</h2>
        <form action="/event" method="post">
        <div class="form-group">
        title: <input name="title" type="text" /> <br />
        </div>
        <div class="form-group">
        description: <input name="description" type="text" /> <br />
        location: <input name="location" type="text" /> <br />
        </div>
        <br />
            <input type="submit" name="submit" value="submit" />
        </form>
  </div>