<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>Location: {{ location }}</p>
        <p>Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Like">
        </form>
        <form method="POST" action="/event/unlike">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="UN-Like">
        </form>
        <img src="piza.jpeg" alt="image can't be found" width="100" onerror="this.onerror=null; this.src='noimage.jpeg'">
        </p>
    </li>
  {{/events}}
</ul>